menu: [
  label: 'Packages'
  submenu: [
    label: 'AsciiDoc Preview'
    submenu: [
      label: 'Toggle Preview', command: 'asciidoc-preview:toggle'
    ,
      label: 'Always show Table of Contents'
      submenu: [
        label: 'none', command: 'asciidoc-preview:set-toc-none'
      ,
        label: 'preamble', command: 'asciidoc-preview:set-toc-preamble'
      ,
        label: 'macro', command: 'asciidoc-preview:set-toc-macro'
      ]
    ,
      label: 'Section Numbering'
      submenu: [
        label: 'Enabled by default', command: 'asciidoc-preview:set-section-numbering-enabled-by-default'
      ,
        label: 'Always enabled', command: 'asciidoc-preview:set-section-numbering-always-enabled'
      ,
        label: 'Always disabled', command: 'asciidoc-preview:set-section-numbering-always-disabled'
      ,
        label: 'Not specified', command: 'asciidoc-preview:set-section-numbering-not-specified'
      ]
    ,
      label: 'Toggle Document Title', command: 'asciidoc-preview:toggle-show-title'
    ,
      label: 'Toggle Front Matter', command: 'asciidoc-preview:toggle-skip-front-matter'
    ,
      label: 'Toggle Compat Mode', command: 'asciidoc-preview:toggle-compat-mode'
    ]
  ]
]

'context-menu':
  '.asciidoc-preview': [
    label: 'Copy', command: 'core:copy'
  ,
    label: 'Save As HTML\u2026', command: 'core:save-as'
  ,
    label: 'Toggle Document Title', command: 'asciidoc-preview:toggle-show-title'
  ,
    label: 'Always show Table of Contents'
    submenu: [
      label: 'none', command: 'asciidoc-preview:set-toc-none'
    ,
      label: 'preamble', command: 'asciidoc-preview:set-toc-preamble'
    ,
      label: 'macro', command: 'asciidoc-preview:set-toc-macro'
    ]
  ,
    label: 'Toggle Front Matter', command: 'asciidoc-preview:toggle-skip-front-matter'
  ,
    label: 'Section Numbering'
    submenu: [
      label: 'Enabled by default', command: 'asciidoc-preview:set-section-numbering-enabled-by-default'
    ,
      label: 'Always enabled', command: 'asciidoc-preview:set-section-numbering-always-enabled'
    ,
      label: 'Always disabled', command: 'asciidoc-preview:set-section-numbering-always-disabled'
    ,
      label: 'Not specified', command: 'asciidoc-preview:set-section-numbering-not-specified'
    ]
  ,
    label: 'Toggle Compat Mode', command: 'asciidoc-preview:toggle-compat-mode'
  ]
  '.tree-view .file .name[data-name$=\\.adoc]': [
    label: 'AsciiDoc: Preview', command: 'asciidoc-preview:preview-file'
  ,
    label: 'AsciiDoc: Export as PDF', command: 'asciidoc-preview:export-pdf'
  ,
    type: 'separator'
  ]
  '.tree-view .file .name[data-name$=\\.asciidoc]': [
    label: 'AsciiDoc: Preview', command: 'asciidoc-preview:preview-file'
  ,
    label: 'AsciiDoc: Export as PDF', command: 'asciidoc-preview:export-pdf'
  ,
    type: 'separator'
  ]
  '.tree-view .file .name[data-name$=\\.ad]': [
    label: 'AsciiDoc: Preview', command: 'asciidoc-preview:preview-file'
  ,
    label: 'AsciiDoc: Export as PDF', command: 'asciidoc-preview:export-pdf'
  ,
    type: 'separator'
  ]
  '.tree-view .file .name[data-name$=\\.asc]': [
    label: 'AsciiDoc: Preview', command: 'asciidoc-preview:preview-file'
  ,
    label: 'AsciiDoc: Export as PDF', command: 'asciidoc-preview:export-pdf'
  ,
    type: 'separator'
  ]
  '.tree-view .file .name[data-name$=\\.txt]': [
    label: 'AsciiDoc: Preview', command: 'asciidoc-preview:preview-file'
  ,
    label: 'AsciiDoc: Export as PDF', command: 'asciidoc-preview:export-pdf'
  ,
    type: 'separator'
  ]
