'.atom-workspace':
  'ctrl-A': 'asciidoc-preview:toggle'
  'ctrl-alt-a': 'asciidoc-preview:toggle-render-on-save-only'

'.asciidoc-preview':
  'cmd-+': 'asciidoc-preview:zoom-in'
  'cmd-=': 'asciidoc-preview:zoom-in'
  'cmd--': 'asciidoc-preview:zoom-out'
  'cmd-_': 'asciidoc-preview:zoom-out'
  'cmd-0': 'asciidoc-preview:reset-zoom'
